@font-face
	{
	font-family : myriad;
	src: url(../font/myriadpro.otf);
	}
body {
	font-family:myriad;
	padding-bottom:40px;
}
.form-signin .form-signin-heading{
  margin-bottom: 30px;
}
.container {
   max-width: 330px;
   
}
.form-signin {
 
  padding: 15px;
  margin: 0 auto;
}
#username, #password1{
  margin-bottom: 0px;
 border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
 border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  .form-signin #username {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #password1 {
    border-radius:0;
  }
  #password {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 10px;
  }
#naam {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#password2{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .form-control {
 font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1 {
	font-family: myriad;
	color:#00489B;
	text-align: center;
}
#register {
  background-color:gray;
  color:#FFFFFF;
}
#register:active {
  background-color:black;
}
.logo {
  max-width:auto;
  max-height:30px;
  margin-right:10px;
  vertical-align: middle;
  margin-top:0px;
  margin-bottom:0px;
}
.error {
  color:red;
  font-weight: lighter;
  margin-bottom: 5px;
}
.container {
  text-align: center;
}