@font-face
  {
  font-family : myriad;
  src: url(../font/myriadpro.otf);
  }
body {
  font-family:myriad;
  padding-bottom:40px;
}
.container {
   max-width: 330px;
}

h1 {
  font-family: myriad;
  color:#00489B;
  text-align: center;
}
#register {
  background-color:gray;
  color:#FFFFFF;
}
#register:active {
  background-color:black;
}
.logo {
  max-width:auto;
  max-height:30px;
  margin-right:10px;
  vertical-align: middle;
  margin-top:0px;
  margin-bottom:0px;
}
#greeting {
  font-size: 16px;
  line-height: 30px;
}
button {
  margin-top:30px;
}